<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="uba_dhlexpress" id="uba_dhlexpress">
            <module before="Magento_Backend" name="UBA_DHLExpress"/>
        </route>
    </router>
</config>
